In [1]:
import pandas as pd

In [2]:
# 读取数据
data = pd.read_csv("./data/datatest.csv")
data

          day  ammount
0  2013-01-24      323
1  2013-01-25      233
2  2013-01-26      433
3  2013-01-27      555
4  2013-01-28      123
5  2013-01-29        0
6  2013-01-30      221

In [3]:
data.rename(columns={'day':'time'},inplace=True)

In [4]:
# 数据处理之缩小数据，查询数据筛选
data = data.query("ammount>0")
data

         time  ammount
0  2013-01-24      323
1  2013-01-25      233
2  2013-01-26      433
3  2013-01-27      555
4  2013-01-28      123
6  2013-01-30      221

In [5]:
# 处理时间数据
time_value = pd.to_datetime(data['time'])
time_value

0   2013-01-24
1   2013-01-25
2   2013-01-26
3   2013-01-27
4   2013-01-28
6   2013-01-30
Name: time, dtype: datetime64[ns]

In [6]:
# 把日期格式转换成字典格式
time_value = pd.DatetimeIndex(time_value)
time_value

DatetimeIndex(['2013-01-24', '2013-01-25', '2013-01-26', '2013-01-27',
               '2013-01-28', '2013-01-30'],
              dtype='datetime64[ns]', name='time', freq=None)

In [7]:
# 构造一些特征
data.loc[:,'day'] = time_value.day
data.loc[:,'weekday'] = time_value.weekday
data

c:\users\louis\appdata\local\programs\python\python37\lib\site-packages\pandas\core\indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
c:\users\louis\appdata\local\programs\python\python37\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

         time  ammount  day  weekday
0  2013-01-24      323   24        3
1  2013-01-25      233   25        4
2  2013-01-26      433   26        5
3  2013-01-27      555   27        6
4  2013-01-28      123   28        0
6  2013-01-30      221   30        2

In [8]:
data = data.drop(['time'],axis=1)
data

   ammount  day  weekday
0      323   24        3
1      233   25        4
2      433   26        5
3      555   27        6
4      123   28        0
6      221   30        2

In [13]:
# 读取数据
data = pd.read_csv("./data/datatest.csv")
type(data["day"][0])

str

In [30]:
data1 = {"item":{"我爱python","我爱python"}}
data1

{'item': {'我爱python'}}

In [31]:
data_list = data1.tolist()
data_list

AttributeError: 'dict' object has no attribute 'tolist'